# dependencies
node_modules/

# builds and output
.next/
out/
dist/
.turbo/
.vercel/

# env and secrets
.env
.env.local
.env.*.local

# tooling
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
