@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 34 28% 95%;
  --foreground: 60 4% 18%;

  --muted: 36 19% 89%;
  --muted-foreground: 40 4% 41%;

  --popover: 34 28% 95%;
  --popover-foreground: 60 4% 18%;

  --card: 36 10% 80%;
  --card-foreground: 60 4% 18%;

  --border: 36 10% 80%;
  --input: 36 10% 80%;

  --primary: 90 13% 61%;
  --primary-foreground: 34 28% 95%;

  --secondary: 47 39% 64%;
  --secondary-foreground: 60 4% 18%;

  --accent: 225 7% 45%;
  --accent-foreground: 34 28% 95%;

  --destructive: 15 42% 50%;
  --destructive-foreground: 34 28% 95%;

  --ring: 90 13% 61%;
  --radius: 0.75rem;
}

.dark {
  --background: 48 5% 22%;
  --foreground: 34 28% 95%;

  --muted: 60 4% 18%;
  --muted-foreground: 33 6% 70%;

  --popover: 48 5% 22%;
  --popover-foreground: 34 28% 95%;

  --card: 48 5% 22%;
  --card-foreground: 34 28% 95%;

  --border: 48 5% 26%;
  --input: 48 5% 26%;

  --primary: 47 39% 64%;
  --primary-foreground: 60 4% 18%;

  --secondary: 90 13% 61%;
  --secondary-foreground: 34 28% 95%;

  --accent: 15 42% 50%;
  --accent-foreground: 34 28% 95%;

  --destructive: 15 42% 50%;
  --destructive-foreground: 34 28% 95%;

  --ring: 47 39% 64%;
}

body {
  @apply bg-background text-foreground antialiased;
  background-image: linear-gradient(
    180deg,
    hsl(var(--background)) 0%,
    hsl(var(--muted)) 100%
  );
}

.dark body {
  background-image: none;
}
